@{ 
    Layout = null; 
}
@model List<SG_DAL.Entities.Teacher>
<script>
    $("table#tblOgretmenler").tablesorter({
        sortList: [@ViewBag.SortList],
        theme: "bootstrap",
        headers: {
            1: { sorter: false }
        },
        widthFixed: true,
        headerTemplate: '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
        //widgets: ["uitheme", "filter", "zebra"],
        widgets: ["uitheme", "zebra"],
        widgetOptions: {
            zebra: ["even", "odd"],
            filter_reset: ".reset"
        }
    });
    $(".chkOgtList").bind("click", function () {
        var self = $(this);
        var status = self.attr("checked") ? "checked" : false;

        if (status == "checked") {
            $("#gorevliliste").find("tr:gt(0)").each(function () {
                if ($(this).find("td:eq(0)").html() == self.parent().parent().find("td:eq(0)").html())
                {
                    alert("Eklemek istediğiniz personel listede mevcut!...");
                    self.removeAttr("checked");
                }
            });
            
        }
    });
</script>
<div style="height:500px; overflow:scroll">
<table id="tblOgretmenler" style="width:99%" class="small-text table table-striped table-hover table-bordered tablesorter-bootstrap">
    <colgroup>
        <col style="width: 7%" />
        <col style="width: 20%" />
        <col style="width: 16%" />
        <col style="width: 10%" />
        <col style="width: 10%" />
        <col style="width: 30%" />
    </colgroup>
    <thead>
        <tr>
            <th style="display: none"></th>

            <th style="text-align: center; vertical-align: middle;">Seç</th>
            <th style="vertical-align: middle;">Ad Soyad</th>
            <th style="text-align: center; vertical-align: middle;">TC No</th>
            <th style="text-align: center; vertical-align: middle;">Kıdem</th>
            <th style="text-align: center; vertical-align: middle;">Görev Sayısı</th>
            <th style="text-align: center; vertical-align: middle;">Okul</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1; }
        @foreach (var item in Model)
        {
            <tr>
                <td style="display: none">@item.TeacherId</td>
                <td style="text-align: center"><input type="checkbox" class="chkOgtList" /></td>
                <td style="text-align: left">@(item.User.Ad + " " + item.User.Soyad)</td>
                <td style="text-align: center">@item.User.TCKimlik</td>
                <td style="text-align: center">@item.Kidem</td>
                <td style="text-align: center">@item.GorevSayisi</td>
                <td style="text-align: left">@item.Okul.Ad</td>
            </tr>
            { i++; }
        }
    </tbody>

</table>

    </div>