@model List<SG_DAL.Entities.Teacher>
@{
    ViewBag.Title = "TeacherList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    $(function () {
        $("table#teacherlist").tablesorter({
            theme: "bootstrap",
            headers: {
                8: { sorter: false }
            },
            widthFixed: true,
            headerTemplate: '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
            widgets: ["uitheme", "filter", "zebra"],
            widgetOptions: {
                zebra: ["even", "odd"],
                filter_reset: ".reset"
            }
        });
    });
</script>

<h2>Öğretmen Listesi</h2>
<table id="teacherlist" class="table table-striped table-hover tablesorter-bootstrap table-bordered">
    <colgroup>
        <col style="width:9%;" />
        <col style="width:9%;" />
        <col style="width:11%;" />
        <col style="width:11%;" />
        <col style="width:18%;" />
        <col style="width:4%;" />
        <col style="width:4%;" />
        <col style="width:26%;" />

    </colgroup>
    <thead>
        <tr>
            <th>Adı
            </th>
            <th>Soyadı
            </th>
            <th style="text-align:center">TC Kimlik
            </th>
            <th>Telefon
            </th>
            <th>Eposta
            </th>
            <th style="text-align:center">Kıdem
            </th>
            <th style="text-align:center">Görev Sayısı
            </th>
            <th>Okul
            </th>
            <th style="text-align:center" class="filter-false">Ünvan
            </th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.User.Ad
                </td>
                <td>
                    @item.User.Soyad
                </td>
                <td style="text-align:center">
                    @item.User.TCKimlik
                </td>
                <td>
                    @item.User.Tel
                </td>
                <td>
                    @item.User.Email
                </td>
                <td style="text-align:center">
                    @item.Kidem
                </td>
                <td style="text-align:center">
                    @item.GorevSayisi
                </td>
                 <td>
                    @item.Okul.Ad
                </td>
                <td id="(@i)_havuz" style="text-align:center">
                    
                    @(new System.Resources.ResourceManager("SinavGorevlendirme.Resources.Genel", typeof(SinavGorevlendirme.Controllers.TeacherController).Assembly).GetString(((SG_DAL.Enums.EnumUnvan)item.Unvan).ToString()))
                </td>
            </tr>   
            i++; 
        }
    </tbody>

</table>
